@import "../../styles/Global.scss";

.dashboard__link {
  text-decoration: none;
  color: white;
  font-family: 'Roboto-Bold';
  font-style: lighter;
  font-weight: 300;
  padding-left: 10rem;
  padding-top: 0.5rem;
}
.main-container {
  font-family: 'Roboto-Bold';
  font-style: lighter;
  font-weight: 300;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: #617f94;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 5;
  position: fixed;
}
.user {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  &__name{
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    // justify-self: center;
  }
}
.user img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
