.dashboard-main {
  width: 100%;
}
.dashboard-info-wrapper {
  display: flex;
}

.dashboard-wrapper {
  margin-left: 10rem;
}
.dashboard-info {
  width: 878px;
  height: 236px;
  background-color: #f4f9fd;
}
.task-wrapper {
  margin-left: 10rem;
}

.task-progression {
  display: flex;
}
.task-finished {
  width: 177px;
  height: 105px;
  margin-right: 5rem;
  background-color: #f4f9fd;
}
.task-remaining {
  width: 177px;
  height: 105px;
  background-color: #f4f9fd;
}
.booking-info-wrapper {
  display: flex;
}
