.dashboard-main{
    display: flex;
    width: 100%;
}

.dashboard__container {
    // padding-left: 100px;
    width: auto;
    display: flex;
    width: 100%;
}
.dashboard-main-wrapper{
    display: flex;

}
.dashboard-info-wrapper{
margin-top: 5rem;
display: flex;

}

.dashboard-wrapper{
    margin-left:  10rem;
}
.dashboard-info{

width: 878px;
height: 236px;
background-color:#F4F9FD;
}
.task-wrapper{
    margin-left: 10rem;
}
.dashboard-main-wrapper{
    display: flex;
}
.task-progression{
    display: flex;
    
}
.task-finished{
    width: 177px;
height: 105px;
    margin-right: 5rem;
    background-color: #F4F9FD;
}
.task-remaining{
    width: 177px;
height: 105px;
background-color: #F4F9FD;
}
.booking-info-wrapper{
    display: flex;
}

